*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.App {
  text-align: center;
  height: 100vh;
  background-color: black;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.calculator-container {
  background: rgb(255 255 255 / 88%);
  padding: 2rem;
  max-width: 500px;
  width: 90%;
  border-radius: 10px;
  box-sizing: border-box;
}


.calculator-container > h1 {
  margin-bottom: 20px;
}

.calculator-container > div > div > input {
  border-radius: 50px 0px 0px 50px;
  border: none;
  padding: 10px 15px;
  min-height: 25px;
  font-size: 14px;
}

.calculator-container > div > div > button {
  border-radius: 0px 50px 50px 0px;
  min-height: 46px;
  padding: 10px 15px;
  border: none;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

@media (max-width: 500px) {
  .calculator-container > h1 {
    font-size: 28px;
}

.calculator-container {
  padding: 1rem;
}

.calculator-container > div > div > button {
  width: 41%;
}

.calculator-container > div > div > input {
  width: 55%;
}
}